*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2vh;
    background-color: white;
    font-family: "Poppins", sans-serif;
}
 .logo{
     color:black;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-size: 18px;
 }
 .nav-links{
     display: flex;
     justify-content: space-around;
     width: 55%;
 }
 .nav-links li{
     float: left;
     list-style: none; 
 }
 .nav-links a{
    color:black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
 }
 .nav-user{
  list-style: none;
  font-size: 18px;
  color:  rgb(255, 0, 119);;
  text-transform: uppercase;
  justify-content: space-around;
  margin-left: 10px;
 }
.burger{
    display: none;
    cursor: pointer;
}
 .burger div{
    width:25px;
    height:3px;
    background-color:black;
    margin:5px;
 }

 @media screen and (max-width:900px){
    .nav-links{
        width: 65%;
    }
}

 @media screen and (max-width:760px){
     body{
         overflow: hidden;
     }
     .nav-links{
        position: absolute; 
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: white; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
     }
     .nav-links li{
         opacity: 1;
     }
     .nav-user{
       width: 30%;
     }
     .burger{
        display: block;
    }
}
.nav-links li a:hover{
    color:rgb(255, 0, 119);
    font-size: 22px;
}
.nav-links li.active a{
    color:rgb(255, 0, 119);
    font-size: 22px;
}
.burger{
    display: none;
    cursor: pointer;
}
 .burger div{
    width:25px;
    height:3px;
    background-color:black;
    margin:5px;
 }

 @media screen and (max-width:900px){
    .nav-links{
        width: 65%;
    }
}

 @media screen and (max-width:760px){
     body{
         overflow: hidden;
     }
     .nav-links{
        position: absolute; 
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: white; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
     }
     .nav-links li{
         opacity: 1;
     }
     .burger{
         display: block;
     }
 }

 .nav-active{
     transform: translateX(0%);
 }

 @keyframes navLinkFade{
     from{
         opacity: 0;
         transform: translateX(50px);
     }
     to{
         opacity: 1;
         transform: translateX(0px);
     }
 }

 .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
     opacity: 0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}